<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IsrvEmpleado" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DataService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvEmpleado"
                contract="clienteVideoClub.IsrvEmpleado" name="BasicHttpBinding_IsrvEmpleado" />
        </client>
    </system.serviceModel>
</configuration>